.carousel-container{

    height: 700px;

}

.carousel-container h1{

    text-align: center;

}


.carousel-cell {

    width: 20%;
    height: 500px;
    margin-right: 30px;
    border-radius: 5px;

}
.carousel-cell img {
    width: 100%;
}
  
  /* cell number */
.carousel-cell:before {

    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;

}

.carousel-descrition-item{
  
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px; 
    color: black;  
    font-weight: 400;

}

.add-to-cart-button{

    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 15px;

}

