<div class="cart-details">
    <ng-container *ngIf="cart.products.length > 0; else empty">
        <div class="cart-details-container">
            <div class="cart-details-list">
                <h1>Meu carrinho</h1>
                <div class="spacer-cart"></div>

                <table class="list-cart-itens-page">
                    <tr>
                        <th></th>
                        <th colspan="1">Descrição</th>
                        <th >Preço</th>
                        <th>Quantidade</th>
                        <th>Excluir</th>
                    </tr>

                
                    <tr *ngFor="let product of cart.products" class="cart-itens">
                        <td><img src="{{product.img}}" alt=""></td>
                        <td>{{product.description.length > 20 ? product.description.slice(0, 20) + '...' : product.description}}</td>
                        <td>R{{product.value | currency}}</td>
                        <td class="product-details-informations-qtd"><button class="product-details-informations-qtd-buttons" (click)="addQtdToCart(product)">+</button><span class="quantity-item"><input type="text" value="{{product.qtd}}" class="product-details-informations-qtd-input" #quantity disabled/></span> <button class="product-details-informations-qtd-buttons" (click)="removeQtdToCart(product.id)">-</button></td>
                        <td><a class="emptycart-button" (click)="emptyCart(product.id)"><fa-icon [icon]="faTrash"></fa-icon></a></td>
                    </tr> 
                    
                    
                </table>

                <div class="spacer-cart"></div>
                <div class="cart-resume-total">
                    <div class="discount">
                        <input type="text" class="discount-input" #discountValue (keyup.enter)="applyDiscount(discountValue.value)"/>
                        <button class="discount-button" (click)="applyDiscount(discountValue.value)">Aplicar desconto</button>
                        
                    </div>
                    <div [ngClass]="cart.discount > 0 ? 'discount-alert-success' : 'discount-alert-fails'">{{discountText}}</div>
                    <div class="subtotal">Subtotal: {{cart.subtotal | currency: 'BRL'}}</div>        
                    <div class="total">Total: {{cart.total | currency: 'BRL'}}</div> 
                    <button class="button-finish" routerLink="/checkout">Pagamento</button>   
                </div>

                
            </div>

            
        </div>
    </ng-container>
    <ng-template #empty>
        <div class="cart-details-container">
            <h1 [ngStyle]="{'text-align': 'center'}">Carrinho vazio</h1>
            <a [ngStyle]="{'text-align': 'center', 'display': 'block'}" routerLink="/">Voltar para home</a>
        </div>
    </ng-template>
</div>