<div class="user">
    <div class="user-container">
        <form class="signin-container" [formGroup]="formulario" (ngSubmit)="saveUser()">
            <h1>Cadastro de usuário</h1>
            <div class="personal-data ">
                <label for="name">
                    Nome completo
                </label>
                <input type="text" formControlName="nome"  class="large" name="name" id="name">
                <div *ngIf="formulario.get('nome')?.errors && (formulario.get('nome')?.touched || formulario.get('nome')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu nome
                </div>
                <label for="email">
                    Email
                </label>
                <input type="text" formControlName="email" class="medium" name="email">
                <div *ngIf="formulario.get('email')?.errors && (formulario.get('email')?.touched || formulario.get('email')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu email
                </div>
                <label for="telefone">
                    Telefone
                </label>
                <input type="text" formControlName="telefone"  name="telefone" id="telefone">
                <div *ngIf="formulario.get('telefone')?.errors && (formulario.get('telefone')?.touched || formulario.get('telefone')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu telefone
                </div>
            </div>
            <div class="adress">
                <label for="cep">
                    CEP
                </label>
                <input type="text" name="cep" id="cep" formControlName="cep" (focusout)="preencheCEP()">
                <div *ngIf="formulario.get('cep')?.errors && (formulario.get('cep')?.touched || formulario.get('cep')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu cep
                </div>
                <div class="large">
                    <div class="inline">
                        <label for="rua">
                            Rua
                        </label>            
                        <input type="text" class="large" name="rua" formControlName="rua" id="rua">
                        <div *ngIf="formulario.get('rua')?.errors && (formulario.get('rua')?.touched || formulario.get('rua')?.dirty)"
                            style="color: red;">
                        Favor preencha a sua rua
                        </div>
                    </div>
                    <div class="inline">
                        <label for="numero" >
                            Número
                        </label>
                        <input type="text" formControlName="num"  #numero name="numero" id="numero">
                        <div *ngIf="formulario.get('num')?.errors && (formulario.get('num')?.touched || formulario.get('num')?.dirty)"
                            style="color: red;">
                                Favor preencha o numero da sua casa
                        </div>
                    </div>
                </div>
                
                <div class="inline ">
                    <label for="complemento">
                        Complemento
                    </label>
                    <input type="text" formControlName="complemento" name="complemento" id="complemento">
                    
                </div>
                <div class="inline">
                    <label for="bairro">
                        Bairro
                    </label>
                    <input type="text" name="bairro" formControlName="bairro" id="bairro">
                    <div *ngIf="formulario.get('bairro')?.errors && (formulario.get('bairro')?.touched || formulario.get('bairro')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu bairro
                    </div>
                </div>
                <div class="inline">
                    <label for="cidade">
                        Cidade
                    </label>
                    <input type="text"  name="cidade" formControlName="cidade" id="cidade">
                    <div *ngIf="formulario.get('cidade')?.errors && (formulario.get('cidade')?.touched || formulario.get('cidade')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu bairro
                    </div>
                </div>  
                <div class="inline">    
                    <label for="estado">
                        Estado
                    </label>
                    <input type="text"  name="estado" formControlName="estado" id="estado">
                    <div *ngIf="formulario.get('estado')?.errors && (formulario.get('estado')?.touched || formulario.get('estado')?.dirty)"
                    style="color: red;">
                        Favor preencha o seu bairro
                    </div>
                </div> 
            </div>           
            <label for="termos">
                Aceite os termos e condições
            </label>
            <input type="checkbox" name="termos" id="termos" formControlName="termos" >
            <div *ngIf="formulario.get('termos')?.errors && (formulario.get('termos')?.touched || formulario.get('termos')?.dirty)"
                    style="color: red;">
                        Precisa aceiar os termos de uso
                    </div>
            <label for="termos">
                Aceita comprartilhar seus dados para uso interno?
            </label>
            <input type="checkbox" name="comprartilhar" id="comprartilhar" formControlName="compartilhar">
        
            <button>Cadastrar</button>
    
        </form>
    </div>
</div>

