<div class="header">

    <div class="logo"><a routerLink="/"><img src="https://dummyimage.com/50x50/fff/aaa" alt=""></a></div>

    <ul class="header-links">
        <li class="header-link"><a routerLink="/product-list/mens-shirts">Camisas</a>
        </li>
        <li class="header-link"><a routerLink="/product-list/mens-shoes">Sapatos</a>
        </li>
        <li class="header-link"><a routerLink="/product-list/mens-watches">Relógios</a>
        </li>
    </ul>

    <div class="right-menu">

        <a routerLink="{{user == '' ? '/login' : '/user'}}">{{user != '' ? 'Bem Vindo, ' + user : '' }} <fa-icon [icon]="faUser"></fa-icon></a>
        <a routerLink="/cart"><fa-icon [icon]="faCartShopping"></fa-icon></a>

    </div>

</div>