.product-list {

margin: auto;


}

.product-list::after{

    content: "";


}

.product {

    padding: 20px;
    border: .2px solid gainsboro; 
    width: 20%;
    margin: 15px 6.66%;
    display: inline-block;

}

.product:last-child {

}

.product img {

    width: 100%;

}

.product-description{

    margin: 10px 0;

}

.product-price{

    font-size: 20px;
    margin: 10px 0;

}

