.footer{

    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    position: relative;
    width: 100%;
    bottom: 0;

}

.footer-links {

    list-style-type: none;

}

.footer-links li{

    display: inline-block;
    margin-left: 20px;

}

.footer-links li:hover{

    cursor: pointer;

}